@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}


:root{
    --color-primary: #5044E5;
};

.grid-bg {
  /* Horizontal lines: green, 1px thick, every 20px */
  background-image: 
    linear-gradient(to bottom, rgba(0, 255, 0, 0.1) 1px, transparent 1px),
    /* Vertical lines: same but rotated */
    linear-gradient(to right, rgba(0, 255, 0, 0.1) 1px, transparent 1px);
  
  background-size: 20px 20px; /* Square grid: width/height of each cell */
  background-position: center; /* Optional: align to center */
};